@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* loader css */
.loader {
    width: 26px;
    height: 26px;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  
    }
  
    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

@tailwind base;
@tailwind components;
@tailwind utilities;
